body{
    font-family: 'Borel', cursive;
    border: 30px;
    padding: 10px;
    background: url(../img/back.jpg);
    height: 1200px;
    color: white;
   
}
.left{
    
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 18px;
    
    
}
.mid{
    display: block;
    width: 50%;
    margin: 18px auto;
    border-radius: 20px;
}
.right{
   
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 18px;
    display:grid;
    border-radius: 20px;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 16px;
}
.navbar li a{
    color: black;
    text-decoration: none;
    padding: 34px 23px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: rgb(231, 14, 14);
}
.btn{
font-family: 'Parisienne', cursive;
    margin: 0px 2px;
    background-color: whitesmoke;
    color: black;
    padding: 4px 4px;
    border: 2px solid blue;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(165, 204, 106);
}
.container1{
    border: 2px solid red;
margin: 100px 202px;
padding: 2px 2px;
border-radius: 10px;
width: 70%;
height: 450px;
color: blue;
}
.form-group input{
    width: 34px;
    padding: 6px;  
    text-decoration: aqua;
    display: block;
    width: 150px;
    border: 2px solid red;
    margin: 2px auto;
    border-radius: 20px;
}
.form-group input:hover{
    background-color: orange;
}
.container1{
    text-align: center;
}
#SP{
    width: 200px;
}
#btn{
    font-family: 'Borel', cursive;
}